.header{
    padding-inline: 20px;
    padding-block: 20px;
}

h1{
    margin: 0;
}
*{
    font-family: poppins;
    box-sizing: border-box;
}
h4{
    margin: 0;
}
.content{
    padding-inline: 20px;
    padding-block: 20px;
}

table{
    width: 100%;
    border: 1px solid black;
}

th,td{
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
